In [4]:
import pandas as pd

In [2]:
pd.__version__

'2.2.2'

In [3]:
products = ['A','B','C','D']

In [4]:
type(products)

list

In [5]:
products_categories = pd.Series(products)

In [7]:
products_categories

0    A
1    B
2    C
3    D
dtype: object

In [9]:
rate_list = pd.Series([45,55,72,100])
rate_list

0     45
1     55
2     72
3    100
dtype: int64

In [10]:
print(rate_list)

0     45
1     55
2     72
3    100
dtype: int64

In [11]:
import numpy as np

In [13]:
array_a = np.array([10,50,70,80,90])
array_a

array([10, 50, 70, 80, 90])

In [14]:
type(array_a)

numpy.ndarray

In [17]:
series_a = pd.Series(array_a)
series_a

0    10
1    50
2    70
3    80
4    90
dtype: int64

In [22]:
type(series_a)

pandas.core.series.Series

In [7]:
series_a.dtype

dtype('int64')

In [6]:
series_a = pd.Series([10,20,30,40,50])
series_a

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [8]:
series_a.size

5

In [9]:
product_categories = pd.Series(['A','B','C','D'])
product_categories

0    A
1    B
2    C
3    D
dtype: object

In [10]:
product_categories.dtype

dtype('O')

In [11]:
product_categories.size

4

In [12]:
type(product_categories.size)

int

In [16]:
product_categories.name

'Product Categories'

In [17]:
print(product_categories.name)

Product Categories

In [15]:
product_categories.name ='Product Categories'

In [18]:
product_categories

0    A
1    B
2    C
3    D
Name: Product Categories, dtype: object

In [19]:
prices_per_category = {'Product A': 22250, 'Product B': 16600,'Product C': 15600}
prices_per_category

{'Product A': 22250, 'Product B': 16600, 'Product C': 15600}

In [20]:
type(prices_per_category)

dict

In [21]:
prices_per_category = pd.Series(prices_per_category)
prices_per_category

Product A    22250
Product B    16600
Product C    15600
dtype: int64

In [22]:
type(prices_per_category)

pandas.core.series.Series

In [23]:
prices_per_category.index

Index(['Product A', 'Product B', 'Product C'], dtype='object')

In [24]:
type(prices_per_category.index)

pandas.core.indexes.base.Index

In [25]:
series_a = pd.Series([10,20,30,40,50])
series_a

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [26]:
series_a.index

RangeIndex(start=0, stop=5, step=1)

In [28]:
type(series_a.index)

pandas.core.indexes.range.RangeIndex

In [29]:
list(series_a.index)

[0, 1, 2, 3, 4]

In [36]:
prices_per_category = pd.Series({'Product A': 22250, 'Product B': 16600,'Product C': 15600})
prices_per_category

Product A    22250
Product B    16600
Product C    15600
dtype: int64

In [37]:
prices_per_category.index

Index(['Product A', 'Product B', 'Product C'], dtype='object')

In [38]:
type(prices_per_category.index)

pandas.core.indexes.base.Index

In [40]:
series_a = pd.Series([10,20,30,40,50])
prices_per_category = pd.Series({'Product A': 22250, 'Product B': 16600,'Product C': 12500})

In [41]:
series_a

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [42]:
series_a[0]

np.int64(10)

In [43]:
prices_per_category

Product A    22250
Product B    16600
Product C    12500
dtype: int64

In [46]:
prices_per_category[2]

C:\Users\acer\AppData\Local\Temp\ipykernel_14468\2291720152.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  prices_per_category[2]

np.int64(12500)

In [45]:
prices_per_category['Product A']

np.int64(22250)

In [47]:
series_b = pd.Series([10,20,30,40,50], index = [1,2,3,4,5])

In [48]:
series_b

1    10
2    20
3    30
4    40
5    50
dtype: int64

In [51]:
series_b[1]

np.int64(10)

In [53]:
import pandas as pd
employees_work_exp = pd.Series({'Martin':8, 'George':5})
print(employees_work_exp['Martin'])

8

In [54]:
import pandas as pd
array_a = [44,54,65,35]
series_age = pd.Series(array_a)
print(series_age)

0    44
1    54
2    65
3    35
dtype: int64

In [56]:
start_date_deposits = pd.Series({
    '7/4/2014':   2000,
    '1/2/2015':   2000,
    '12/8/2021':  1000,
    '2/20/2015':  2000,
    '10/28/2013': 2000,
    '4/19/2015':  2000,
    '7/4/2016':   2000,
    '4/24/2014':  2000,
    '9/3/2015':   4000,
    '7/25/2016':  2000,
    '5/1/2014':   2000,
    '3/29/2013':  2000,
    '10/3/2014':  2000,
    '9/18/2015':  2500
        
})

In [57]:
start_date_deposits

7/4/2014      2000
1/2/2015      2000
12/8/2021     1000
2/20/2015     2000
10/28/2013    2000
4/19/2015     2000
7/4/2016      2000
4/24/2014     2000
9/3/2015      4000
7/25/2016     2000
5/1/2014      2000
3/29/2013     2000
10/3/2014     2000
9/18/2015     2500
dtype: int64

In [58]:
start_date_deposits.sum()

np.int64(29500)

In [59]:
start_date_deposits.min()

np.int64(1000)

In [60]:
start_date_deposits.max()

np.int64(4000)

In [61]:
start_date_deposits.idxmax()

'9/3/2015'

In [62]:
start_date_deposits.idxmin()

'12/8/2021'

In [66]:
start_date_deposits.head()

7/4/2014      2000
1/2/2015      2000
12/8/2021     1000
2/20/2015     2000
10/28/2013    2000
dtype: int64

In [67]:
start_date_deposits.tail()

7/25/2016    2000
5/1/2014     2000
3/29/2013    2000
10/3/2014    2000
9/18/2015    2500
dtype: int64

In [68]:
start_date_deposits.head(3)

7/4/2014     2000
1/2/2015     2000
12/8/2021    1000
dtype: int64

In [69]:
data = {'ProductName':['Product A','Prodcut B', 'Product C'],'ProductPrice': [22250,16600,12500]}
df = pd.DataFrame(data)
df

  ProductName  ProductPrice
0   Product A         22250
1   Prodcut B         16600
2   Product C         12500

In [70]:
data = {'ProductName':['Product A','Prodcut B', 'Product C'],'ProductPrice': [22250,16600,12500]}
df = pd.DataFrame(data,index =['A','B','C'])
df

  ProductName  ProductPrice
A   Product A         22250
B   Prodcut B         16600
C   Product C         12500

In [72]:
data = {'ProductName':['Product A','Product B', 'Product C'],'ProductPrice': [22250,16600,12500]}
product_IDs =['A','B','C']
df = pd.DataFrame(data, index = product_IDs)
df

  ProductName  ProductPrice
A   Product A         22250
B   Prodcut B         16600
C   Product C         12500

In [73]:
data = [{'Product Name': 'Product A', 'ProductPrize':22250},
        {'Product Name': 'Product B', 'ProductPrize':16600},
        {'Product Name': 'Product C', 'ProductPrize':12250}]
df = pd.DataFrame(data)
df

  Product Name  ProductPrize
0    Product A         22250
1    Product B         16600
2    Product C         12250

In [74]:
import pandas as pd
data = {'Name':['Amy White','Jack Stewart', 'Richard Lauderdale', 'Sara Johnson'],'Working Experience(Yrs.)':[5,8,3,10]}
df = pd.DataFrame(data)
print(df)

                 Name  Working Experience(Yrs.)
0           Amy White                         5
1        Jack Stewart                         8
2  Richard Lauderdale                         3
3        Sara Johnson                        10

In [75]:
import pandas as pd
data = {'Name':['Amy White','Jack Stewart', 'Richard Lauderdale', 'Sara Johnson'],'Age':[50,50,35,43],'Working Experience(Yrs.)':[5,8,3,10]}
df = pd.DataFrame(data)
print(df)

                 Name  Age  Working Experience(Yrs.)
0           Amy White   50                         5
1        Jack Stewart   50                         8
2  Richard Lauderdale   35                         3
3        Sara Johnson   43                        10

In [76]:
ser_products = pd.Series(['Product A', 'Product B', 'Product C'])
ser_prices = pd.Series([22250,16600,12500])

In [81]:
data = {'ProductName': ser_products, 'ProductPrice':ser_prices}
df= pd.DataFrame(data)
df

  ProductName  ProductPrice
0   Product A         22250
1   Product B         16600
2   Product C         12500

In [85]:
ser_products = pd.Series(['Product A', 'Product B', 'Product C'], index = ['A','B','C'])
ser_prices = pd.Series([22250,16600,12500], index =['A','B','C'])
data = {'ProductName': ser_products, 'ProductPrice':ser_prices}
df= pd.DataFrame(data)
df

  ProductName  ProductPrice
A   Product A         22250
B   Product B         16600
C   Product C         12500

In [87]:
data = [['Product A', 22500],['Product B',16600],['Product C',12500]]
df= pd.DataFrame(data)
df

           0      1
0  Product A  22500
1  Product B  16600
2  Product C  12500

In [89]:
df.columns = ['Product Name','Product Price']
df

  Product Name  Product Price
0    Product A          22500
1    Product B          16600
2    Product C          12500

In [93]:
df.index = ['A','B','C']
df

  Product Name  Product Price
A    Product A          22500
B    Product B          16600
C    Product C          12500

In [95]:
df = pd.DataFrame(data = [['Product A', 22250],['Product B', 16600],['Product C', 12500]], 
                  columns = ['ProductName', 'ProductPrice'],
                  index = ['A','B','C'])
df

  ProductName  ProductPrice
A   Product A         22250
B   Product B         16600
C   Product C         12500

In [96]:
df.shape

(3, 2)